
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Promedio" method="post">
            <label>Codigo del Estudiante</label><br />
            <input type="text" name="codigo" /><br />
            <label>Nombre del Estudiante</label><br />
            <input type="text" name="nEstudiante" /><br />
            <label>Nombre de la Materia</label><br />
            <input type="text" name="nMateria" /><br />

            Digite notas entre 1.0 y 5.0 <br />
            <label>Nota No 1</label><br />
            <input type="text" name="valor1" /><br />
            <label>Nota No 2</label><br />
            <input type="text" name="valor2" /><br />
            <label>Nota No 3</label><br />
            <input type="text" name="valor3" /><br />
            <input type="submit" value="Promediar" />
        </form>
    </div>
</body>
</html>
